<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nomina - Iniciar Sesión</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://kit.fontawesome.com/302a1eb3e6.js" crossorigin="anonymous"></script>
</head>
<header th:replace="layout/headerTemplate"></header>
<body>
  <div class="container">
    <h1 style="text-align: center">Iniciar Sesión</h1>
    <div class="container-fluid">
      <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show" id="error" role="alert" hidden>
        <strong>Usuario</strong> o <strong>contraseña</strong> están incorrectos. Verifica e intenta nuevamente
      </div>
      <form role="form" method="post" th:action="@{/login}" th:object="${usuario}">
        <label for="username" class="form-label">Usuario</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Ej. joeSmith@mail.com" th:field="${usuario.username}">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="********" th:field="${usuario.password}">
        <br>
        <input type="submit" class="btn btn-outline-primary" value="Iniciar Sesión">
      </form>
    </div>
  </div>
</body>
</html>