<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nomina - ¡Bienvenido!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://kit.fontawesome.com/302a1eb3e6.js" crossorigin="anonymous"></script>
</head>
<header th:replace="layout/loggedHeader"></header>
<body th:object="${usuario}">
  <div class="container">
    <h1 style="text-align: center" th:text="Hola ${usuario.nombre}"></h1>
    <p style="text-align: center; font-style: italic">Queremos que vivas la mejor experiencia. Por eso te vamos a hacer unas preguntas</p>
    <form method="post" th:action="@{/newEnterprise}">
    <div class="container-fluid">
      <div th:object="${empresa}">
        <hr>
        <h3>Datos de tu empresa</h3>
        <label for="owner">¿Eres quien figura como representante legal de la empresa?</label>
        <form id="owner" name="owner">
          <input type="radio" class="form-control" value="Si">
          <input type="radio" class="form-control" value="No">
        </form>
        <label for="name">Nombre de la empresa</label>
        <input type="text" id="name" name="nombre">
        <label for="address">Dirección de la empresa</label>
        <input type="text" id="address" name="direccion">
        <label for="phone">Teléfono de la empresa</label>
        <input type="text" id="phone" name="telefono">
        <label for="email">Correo de la empresa</label>
        <input type="text" id="email" name="correo">
      </div>
      <div>
        <hr>
        <h3>Cargue de empleados</h3>
        <label for="csvload">¿Deseas cargar los empleados vía archivo plano?</label>
        <input type="submit" th:action="@{/Aplicacion/cargueArchivo}" class="btn btn-primary" id="csvload" value="Ir al cargue de empleados">
      </div>
      <div>
        <h3>Finalizar Registro</h3>
        <input type="submit" th:action="@{/Aplicacion/}" class="btn btn-primary" value="Ir al dashboard">
      </div>
    </div>
    </form>
  </div>
</body>
</html>